<div class="alert alert-danger alert-save-danger" style="display:none;"> 
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<h5 class="error"><%= error %></h5>
</div>

<div class="alert alert-info alert-save-message" style="display:none;"> 
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<h5 class="message"></h5>
</div>