<!-- 
/* ***************************************************************** */
/*                                                                   */
/* VSI-International Confidential                                    */
/*                                                                   */
/* OCO Source Materials                                              */
/*                                                                   */
/* Copyright VSI-International Corp. 2016                            */
/*                                                                   */
/* The source code for this program is not published or otherwise    */
/* divested of its trade secrets, irrespective of what has been      */
/* deposited with the VN. Copyright Office.                         */
/*                                                                   */
/* ***************************************************************** */
 -->
<!DOCTYPE HTML>
<html>
   	<head>
   		<title>vnappstore@VSI-International</title>
   		<meta charset="UTF-8" />
   		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
   		<link rel="shortcut icon" href="/vnas/public/images/App_Icon_114.png" />
   		<link rel="apple-touch-icon" href="/vnas/public/images/App_Icon_114.png" />
		
		<link rel="stylesheet" href="/vnas/public/bootstrap-3.3.6/css/bootstrap.min.css">
		<script src="/vnas/public/javascripts/jquery-1.12.3.min.js"></script>
		<script src="/vnas/public/bootstrap-3.3.6/js/bootstrap.min.js"></script>
		<script src="/vnas/public/javascripts/jquery.bootpag.js"></script>
		
		<link rel="stylesheet" href="/vnas/public/stylesheets/style.css">
	
		
   		<script src="/vnas/public/javascripts/common.js"></script>
   	</head>

<body style="height:100%;width:100%;">
<div class="container-fluid">

<%- body %>

</div>
</body>
</html>
