<%- include("user_info") %>

<div class="body-form">

<h1>Request App</h1>
<br />


<div class="body-content">

<a href="/vnas" class="btn btn-primary"> <span class="glyphicon glyphicon-home"></span> Go to Home</a>



</div>

</div>