  <div class="user-profile">
	  <span class="user-info"> </span> 
	  <button class="btn btn-default btn-sign-out" onclick="javascript:signout()"><span class="glyphicon glyphicon-off"></span> Sign Out</button>
  </div>